img{
    width:300px;
}
body{
    background-color:aliceblue;
    margin:0px;
}
header>h1{
    text-align:center;
    margin:0px;
}
section{
    background-color:cornflowerblue
}
h2{
    margin:0px;
}
nav, section{
    padding-top:20px;
    padding-bottom:20px;
}
nav{
    float:left;
    display:block;
    height:732px;
    background-color:orange;
    padding-right:10px;
}
header{
    background-color:yellow;
    padding-bottom:20px;
}
footer{
    padding-top:20px;
    padding-bottom:20px;
    background-color:plum;
}